.col-sm-5
{
	
	
	background-image: url(o.jpg);
	 
	text-align: right;

}
.col-sm-5 img
{
	height:20%;
	width:20%;
}
.col-sm-7 button
{

height:20%;
width:20%;
}
.col-sm-7 p
{
background-color: pink;
}